@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  width: 100%;
  padding: 10px;
  margin: 0;
  border: none;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: inset 0 0 8px rgba(0,0,0,0.1);
  outline: none;
}

.cnn-card {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 10px 10px;
  background-color: #d7f58d;
  color: #96ab62;
  box-shadow: 0 0 8px rgba(0,0,0,0.2)
}

.pca-card {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 10px 10px;
  background-color: #ff9ccb;
  color: #b26d8e;
  box-shadow: 0 0 8px rgba(0,0,0,0.2)
}

.ff-card {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 10px 10px;
  background-color: #8ec4f7;
  color: #6389ac;
  box-shadow: 0 0 8px rgba(0,0,0,0.2)
}

.visualize-card {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 10px 10px;
  background-color: #059C63;
  color: #214B28;
  box-shadow: 0 0 8px rgba(0,0,0,0.2)
}

.fourier-card {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 10px 10px;
  background-color: #8ec4f7;
  color: #6389ac;
  box-shadow: 0 0 8px rgba(0,0,0,0.2)
}

.button {
  color: white;
  background-color: black;
  border-radius: 20px;
  padding: 8px;
}
.button:hover {
  background-color: gray;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.scrollable-list-container {
  width: 100%;
  overflow-x: auto;
}

.image-list {
  display: flex;
  flex-wrap: nowrap; /* Prevent images from wrapping to the next line */
}

.image-list img {
  width: 150px; /* Adjust the width of the images */
  height: 150px; /* Maintain aspect ratio */
  margin-right: 10px; /* Adjust spacing between images */
}

.horizontal-image-list {
  overflow-x: auto;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Slider container */
.slider {
  position: relative;
  width: 100%; /* Stretch slider to desired width */
  height: 10px; /* Increase slider thickness */
}

/* Track - Full background */
.slider__track {
  position: absolute;
  background-color: pink; /* Default to left side (training) color */
  width: 100%;
  height: 10px;
  border-radius: 5px;
  z-index: 1;
}

/* Colored ranges */
.slider__range--left {
  background-color: #ff9ccb; /* Left: Training */
  position: absolute;
  height: 10px;
  z-index: 2;
  border-radius: 5px 0 0 5px;
}

.slider__range--middle {
  background-color: #f5f58d; /* Middle: Validation */
  position: absolute;
  height: 10px;
  z-index: 2;
}

.slider__range--right {
  background-color: #059C63; /* Right: Testing */
  position: absolute;
  height: 10px;
  z-index: 2;
  border-radius: 0 5px 5px 0;
}

/* Thumb - Removing default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  position: absolute;
  height: 0;
  width: 100%; /* Same width as the slider */
  pointer-events: none;
  outline: none;
}

/* Custom thumb styles for Chrome */
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 18px; /* Thumb circle size */
  width: 18px;
  margin-top: -30px; /* Align the circle on top of the track */
  position: relative;
}

.thumb::-webkit-slider-thumb::before {
  content: "";
  position: absolute;
  bottom: -15px; /* Line below the circle */
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 25px; /* Line height */
  background-color: #ced4da;
}

/* Custom thumb styles for Firefox */
.thumb::-moz-range-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: -30px;
  position: relative;
}

.thumb::-moz-range-thumb::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 25px;
  background-color: #ced4da;
}