@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  width: 100%;
  padding: 10px;
  margin: 0;
  border: none;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: inset 0 0 8px rgba(0,0,0,0.1);
  outline: none;
}

.cnn-card {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 10px 10px;
  background-color: #d7f58d;
  color: #96ab62;
  box-shadow: 0 0 8px rgba(0,0,0,0.2)
}

.button {
  color: white;
  background-color: black;
  border-radius: 20px;
  padding: 8px;
}
.button:hover {
  background-color: gray;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
