# Dependencies
node_modules/
backend/venv

# Next.js
.next/
out/

# Python
backend/__pycache__/
*.py[cod]
*$py.class

# Environment
backend/.env
backend/.env.local
backend/.env.development.local
backend/.env.test.local
backend/.env.production.local

# IDE
.backend/.vscode/
.idea/

# Misc
.DS_Store
*.pem
